<?php

return array(
    'chartblocks' => array(
        'token' => '',
        'secret' => '',
        'attendeeSetId' => '53037396c9a61d1552321575',
        'tweetSetId' => '5303478ec9a61d6b4f321575',
    ),
    'eventbrite' => array(
        'appKey' => '',
        'userKey' => '',
        'eventId' => '4512739726',
	'types' => array(
		'19876989' => array('Delegate', 'Two Day'),
		'20423797' => array('Delegate', 'Friday'),
		'20423799' => array('Delegate', 'Saturday'),
		'21731171' => array('Delegate', 'Two Day'),
		'21731173' => array('Delegate', 'Friday'),
		'21731175' => array('Delegate', 'Saturday'),
		'21731177' => array('Delegate', 'Two Day'),
		'21735141' => array('Delegate', 'Two Day'),
		'22354079'  => array('Speaker', 'Speaker'),
		'22354109' => array('Delegate', 'Two Day'),
		'22764385' => array('Delegate', 'Two Day'),
		'22774259' => array('Delegate', 'Two Day'),
		'22774261' => array('Delegate', 'Saturday'),
		'22774409' => array('Delegate', 'Two Day'),
		'23045287' => array('Sponsor', 'Sponsor'),
		'23091937' => array('Sponsor', 'Sponsor'),
		'23325405' => array('Sponsor', 'Sponsor'),
		'23517141' => array('Volunteer', 'Volunteer'),
		'23612549' => array('Sponsor', 'Sponsor'),
		'23700753' => array('Organiser', 'Organiser'),
	),
    ),
    'mongo' => array(
        'database' => 'php2014',
        'collection' => 'tweets',
    ),
    'twitter' => array(
        'key' => '',
        'secret' => '',
        'token' => '',
        'token_secret' => '',
        'tracks' => array(
            'php' => array('phpuk', 'phpuk14', 'phpuk2014', 'php14', 'php2014'),
            'sochi' => array('sochi', 'sochi14')
        )
    ),
);
